# Entornos virtuales (cubre 'env', 'venv', etc.)
env/
venv/
.venv/
ENV/
env.bak/
venv.bak/

# Archivos de variables de entorno
.env
.env.*
!.env.example

# Caché de Python y archivos compilados
__pycache__/
*.py[cod]
*$py.class
*.so

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Configuración local de VS Code
.vscode/

# Archivos del sistema operativo (Windows / macOS)
Thumbs.db
Desktop.ini
ehthumbs.db
.DS_Store